<table multiTemplateDataRows mat-table [dataSource]="this.dataSource" matSort #tableSorter='matSort'>
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span
                matTooltip="Name of Product Group.  The product groups are listed in the order they appear in the shoppable video.">
                Product Group Name
            </span>
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.title }}
        </td>
    </ng-container>
    <ng-container matColumnDef="pauseCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span
                matTooltip="Total number of times a product group has been on the screen when a viewer interacted, paused the video and the products displayed.">
                Pauses
            </span>
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.stats.pauseCount }}
        </td>
    </ng-container>
    <ng-container matColumnDef="clickCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span matTooltip="Total number of times a product has been selected.">
                Clicks
            </span>
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.stats.clickCount }}
        </td>
    </ng-container>

    <!-- Product Group Expanded Panel  -->
    <ng-container matColumnDef="expandedProductGroupDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="4">
            <div class="example-productGroup-element-detail" *ngIf="element.products != null" [@pgDetailExpand]=" element == expandedProductGroupElement ? 'expanded' : 'collapsed'
            ">
                <div class="inner-table mat-elevation-z8" *ngIf="expandedProductGroupElement">
                    <!-- Nested Campaigns Goes Here -->
                    <NestedCampaignsTable [data]="element.products"></NestedCampaignsTable>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: innerDisplayedColumns" class="example-productGroup-element-row" [class.example-productGroup-expanded-row]="expandedProductGroupElement === element" (click)="expandedProductGroupElement = expandedProductGroupElement === element ? null : element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedProductGroupDetail'];" class="example-productGroup-detail-row"></tr>
</table>