<div class="categories">
  <mat-radio-group fxLayout="row" fxLayoutAlign="start start"
                   fxLayoutGap="7px">
    <mat-radio-button (click)="setCategory('All')">All</mat-radio-button>
    <mat-radio-button
      (click)="setCategory(category.name)"
      *ngFor="let category of activeCategories"
      [value]="category._id">{{category.name}}</mat-radio-button>
  </mat-radio-group>
</div>

<div class="videos-grid">
  <div *ngFor="let video of videos" class="video-element" fxFlex="100%"
       fxLayout="column"
       fxLayoutGap="10px">
    <a (mouseenter)="previewVideo($event)" class="thumbnail" href="">
      <div class="preview-backdrop"></div>
      <video
        poster="{{video.thumbnail.url}}">
        <source
          src="{{video.media.url}}"
          type="video/mp4"
        />
      </video>
      <img alt="video title" height="170"
           src="{{video.thumbnail.url}}">
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </a>
    <div class="details">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <a aria-label="category title" class="category"
             href="https://localhost:4200">{{video.category}}</a>
          <time class="duration"
                datetime="03m 30s">{{video.media.duration}}</time>
        </div>
        <time datetime="Nov 6 2022">Nov 6, 2022</time>
      </div>
      <a
        attr.aria-labelledby="{{video.name}}"
        class="title"
        href="https://localhost:4200">
        {{video.name}}
      </a>
    </div>
  </div>
</div>
