<div class="categories">
  <mat-radio-group fxLayout="row" fxLayoutAlign="start start"
                   fxLayoutGap="7px">
    <mat-radio-button (click)="setCategory('All')">All</mat-radio-button>
    <mat-radio-button
      (click)="setCategory(category.name)"
      *ngFor="let category of activeCategories"
      [value]="category._id">{{category.name}}</mat-radio-button>
  </mat-radio-group>
</div>

<div *ngIf="videosLoaded" [hidden]="!videosLoaded"
     [ngClass]="{'justify-start' : categoryVideosCount < 6}"
     class="videos-grid">
  <div *ngFor="let video of videos" [class]="video.watched ? 'dim' : ''" class="video-element"
       fxFlex="100%"
       fxLayout="column"
       fxLayoutGap="10px">
    <a
      (click)="openPlayer(video._id, video.campaignId, video.categoryId, $event)"
      (mouseenter)="previewVideo($event)" class="thumbnail"
      href="">
      <div class="preview-backdrop"></div>
      <video
        poster="{{video.thumbnail.url}}">
        <source
          src="{{video.media.url}}"
          type="video/mp4"
        />
      </video>
      <img alt="video title" height="170"
           src="{{video.thumbnail.url}}">
      <img
        [hidden]="video.watched || completedShoppableTour"
        alt=""
        class="shoppable-video-indicator"
        src="/assets/img/shoppable-video.svg"
      />
    </a>
    <div class="details">
      <div fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start start">
          <a aria-label="category title" class="category"
             href=""
             matTooltip="{{video.category}}">{{video.category}}</a>
          <time class="duration">{{video.media.duration}}</time>
        </div>
        <time>{{prettyDate(video.createdAt)}}</time>
      </div>
      <a
        (click)="openPlayer(video._id, video.campaignId, video.categoryId, $event)"
        attr.aria-labelledby="{{video.name}}"
        class="title"
        href="">
        {{video.name}}
      </a>
    </div>
  </div>
  <div *ngIf="categoryVideosCount > (page+1) * videosLimit" class="load-more"
       fxLayout
       fxLayoutAlign="center">
    <button (click)="loadMoreVideos()" color="primary" mat-flat-button>
      Load More
    </button>
  </div>
</div>

<div *ngIf="!videosLoaded || !MoreVideosLoaded" class="videos-grid lazy-loader">
  <div *ngFor="let count of [0,1,2,3,4,5,6,7,8,9]" class="video-element"
       fxFlex="100%"
       fxLayout="column"
       fxLayoutGap="10px">
    <a class="thumbnail" href="">
      <img alt="" height="170" src="">
    </a>
    <div class="details">
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start start">
          <a aria-label="category title" class="category"
             href="">Category</a>
          <time class="duration">00:00</time>
        </div>
        <time datetime="">Mon 0, 0000</time>
      </div>
      <a
        class="title"
        href="">
        <span>Video</span><br>
        <span>Title</span>
      </a>
    </div>
  </div>
  <div class="load-more" fxLayout fxLayoutAlign="center">
    <button (click)="loadMoreVideos()" color="primary" mat-flat-button>Load
      More
    </button>
  </div>
</div>
<digit-pop-quiz-animation
  [scoreBubbleIsOpen]="scoreBubbleIsOpen"
>
</digit-pop-quiz-animation>
