<div class="categories">
  <mat-radio-group fxLayout="row" fxLayoutAlign="start start"
                   fxLayoutGap="7px">
    <mat-radio-button (click)="setCategory('All')">All</mat-radio-button>
    <mat-radio-button
      (click)="setCategory(category.name)"
      *ngFor="let category of activeCategories"
      [value]="category._id">{{category.name}}</mat-radio-button>
  </mat-radio-group>
</div>

<div *ngIf="!videosLoaded" class="videos-grid lazy-loader">
  <div *ngFor="let count of videosCount" class="video-element" fxFlex="100%"
       fxLayout="column"
       fxLayoutGap="10px">
    <a class="thumbnail" href="">
      <img alt="" height="170" src="">
    </a>
    <div class="details">
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start start">
          <a aria-label="category title" class="category"
             href="">Category</a>
          <time class="duration">00:00</time>
        </div>
        <time datetime="">Mon 0, 0000</time>
      </div>
      <a
        class="title"
        href="">
        <span>Video</span><br>
        <span>Title</span>
      </a>
    </div>
  </div>
</div>

<div [hidden]="!videosLoaded" class="videos-grid">
  <div *ngFor="let video of videos" class="video-element" fxFlex="100%"
       fxLayout="column"
       fxLayoutGap="10px">
    <a (click)="openPlayer($event, video._id)"
       (mouseenter)="previewVideo($event)" class="thumbnail"
       href="">
      <div class="preview-backdrop"></div>
      <video
        poster="{{video.thumbnail.url}}">
        <source
          src="{{video.media.url}}"
          type="video/mp4"
        />
      </video>
      <img alt="video title" height="170"
           src="{{video.thumbnail.url}}">
    </a>
    <div class="details">
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start start">
          <a aria-label="category title" class="category"
             href="">{{video.category}}</a>
          <time class="duration">{{video.media.duration}}</time>
        </div>
        <time>{{prettyDate(video.createdAt)}}</time>
      </div>
      <a
        (click)="openPlayer($event, video._id)"
        attr.aria-labelledby="{{video.name}}"
        class="title"
        href="">
        {{video.name}}
      </a>
    </div>
  </div>
</div>
