@keyframes shimmer {
  0% {
    background-position: -800px 0
  }
  100% {
    background-position: 800px 0
  }
}

@mixin lazy-load() {
  cursor: default;
  pointer-events: none;
  color: transparent !important;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #f6f7f8 linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}

.categories {
  overflow: hidden;
  padding: 10px 30px;
}

mat-radio-group {
  overflow-x: scroll;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  mat-radio-button {
    overflow: unset;
    height: unset !important;
    line-height: normal;
    white-space: nowrap;
    font-size: 0.9rem !important;
    display: inline-flex;
    text-transform: capitalize;
    font-weight: 500;
    color: white !important;
    background-color: #212121;
    border-radius: 5px;
    transition: 200ms background-color ease-in;

    &:hover {
      background-color: #ff2169;
    }

    &.mat-radio-checked {
      background-color: #ff2169 !important;
    }

    .mat-radio-label {
      padding: 5px 10px !important;
    }

    .mat-radio-container {
      display: none;
    }

    .mat-radio-label-content {
      padding: 0 !important;
    }
  }
}

.videos-grid.lazy-loader {
  img {
    @include lazy-load();
  }

  .category {
    @include lazy-load();
  }

  .duration {
    color: transparent;
    @include lazy-load();
  }

  time {
    border-radius: 5px;
    @include lazy-load();
  }

  .title span {
    display: inline-flex;
    width: 100%;
    height: 40%;
    border-radius: 2px;
    @include lazy-load();

    &:last-of-type {
      width: 45%;
    }
  }
}

.videos-grid {
  display: grid !important;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 20px;
  padding: 10px 30px;
}

.video-element {
  margin-bottom: 20px;

  .thumbnail {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    position: relative;
    height: 170px;
    transition: transform 100ms ease-in;
    border: none;
    border-radius: 10px;
    overflow: hidden;

    &:hover {
      transform: translateX(7px) translateY(-5px);
      box-shadow: #ff2169 -4px 3px 0 0;

      .preview-backdrop {
        opacity: 1;
      }

      mat-progress-bar {
        bottom: 10px;
      }
    }

    .preview-backdrop {
      opacity: 0;
      z-index: 3;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .6) 100%);
      transition: 200ms opacity ease-in;
    }

    .preview-backdrop, video, img, time, mat-progress-bar {
      pointer-events: none;
    }

    video, img {
      object-fit: cover;
      width: 100%;
      height: 170px;
      border: none;
      border-radius: 10px;
    }

    video {
      position: absolute;
      z-index: 2;
    }

    img {
      z-index: 1;
    }

    mat-progress-bar {
      position: absolute;
      z-index: 3;
      width: calc(100% - 30px);
      height: 2px;
      bottom: -10px;
      transition: 250ms bottom ease-in-out;
    }
  }

  .details {
    .category, time {
      font-size: 0.85rem;
      padding: 0 5px;
    }

    .category {
      display: inline-block;
      font-weight: bold;
      color: #ff2169;
      background-color: white;
      margin-bottom: 10px;
      margin-right: 5px;
      border-radius: 5px;
    }

    time {
      opacity: 0.65;
      color: white;
      font-weight: bold;

      &.lazy-load {
        display: block;
        min-width: 40px;
        min-height: 1rem;
      }
    }

    time.duration {
      opacity: 1;
      z-index: 3;
      background-color: rgba(255, 33, 105, 0.45);
      border-radius: 5px;
      backdrop-filter: blur(10px);
    }
  }

  .category, .title {
    text-decoration: none;
  }

  .title {
    overflow: hidden;
    line-height: 1.1rem;
    height: 2.2rem;
    color: white;
    font-weight: bold;
    max-height: 4.4rem;
    display: block;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
  }
}
