<section
  class="visitor-popup"
  fxLayout="row wrap"
  fxLayoutAlign="center end"
>
  <h1 class="visitor-popup-heading">
    <span class="visitor-popup-action">Signup/login,</span> <br>
    <span class="visitor-popup-reason">to save</span> <br>
    <span class="visitor-popup-points">your points</span>
  </h1>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Sign Up">
      <digit-pop-signup
        [campaignId]="campaignId"
        [fromQuiz]="true"
        [hideCloseButton]="true"
        [projectId]="projectId">
      </digit-pop-signup>
    </mat-tab>
    <mat-tab label="Already A Member">
      <digit-pop-login
        [campaignId]="campaignId"
        [fromQuiz]="true"
        [hideCloseButton]="true"
        [projectId]="projectId">
      </digit-pop-login>
    </mat-tab>
  </mat-tab-group>
</section>
