.visitor-popup {
  column-gap: 60px;
}

.visitor-popup-heading {
  text-align: left;
  text-transform: capitalize;
}

.visitor-popup-action {
  font-size: 1.5rem;
  line-height: 3.5rem;
}

.visitor-popup-reason {
  color: #ff2169;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: bolder;
}

.visitor-popup-points {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
}
