<div class="container">
  <div class="question">
    {{ campaign?.verificationQuestion }}
  </div>


  <div class="answers">
    <mat-grid-list class="answers" cols="1" rowHeight="fit" gutterSize="10px">
      <mat-grid-tile *ngFor="let item of answers">
        <button
          mat-flat-button
          class="my-class answerButtton"
          (click)="onAnswer(item)"
        >
          <span class="answerText">{{ item }}</span>
        </button>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</div>
