<main class="landing dp-background">
  <div class="video-players">
    <!-- <div class="video-iframe">
      <h1>Create your first Shoppable Video now</h1>
      <button mat-raised-button color color="primary" (click)="createFreeTrialAccount()">
        Start your video
      </button>
    </div> -->

    <div class="video-iframe-title">
      <p class="shoppable-title">Shoppable Video Cloud for eCommerce</p>
      <p></p>
      <p></p>
      <p class="shoppable-subtitle">FREE online shoppable video hosting and streaming for business</p>
      <p></p>
      <p></p>
      <p class="shoppable-subtitle">Campaigns to reach new customers</p>
      <p></p>
      <p></p>
      <p class="shoppable-subtitle">Rewards for Consumers completing videos</p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <div>
        <video id="vid" width="100%" controls="controls" autoplay loop muted>
          <source
            src="https://res.cloudinary.com/boggssystems/video/upload/v1662577574/bandicam_2022-09-07_14-43-36-617_j0g2hg.mp4"
            type="video/mp4"
          />
        </video>

      </div>

      <p></p>
      <p></p>

      <button mat-raised-button color color="primary" (click)="preview()">
        Watch Gap Summer '22 Shoppable Video
      </button>
<!--
      <button mat-raised-button color color="primary" (click)="openSignup()">
        Start Free Hosting
      </button> -->
    </div>

    <div class="video-iframe">
      <div>
        <video width="100%" autoplay loop muted controls="controls">
          <source
            src="https://res.cloudinary.com/boggssystems/video/upload/v1662497322/bandicam_2022-09-06_16-46-09-924_lfurcd.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>

    <div class="video-iframe">
      <h1>We reduce the obstacles between your customers seeing products in your video and the purchase checkout with our shoppable video player.  Tap the screen to purchase anything </h1>
      <button mat-raised-button color color="primary" (click)="preview_cardi_reebok()">
        Watch Cardi B Reebok Shoppable Video
      </button>
    </div>

    <div class="video-iframe">
      <div>
        <video width="100%" autoplay loop muted controls="controls">
          <source
            src="https://res.cloudinary.com/boggssystems/video/upload/v1662578408/bandicam_2022-09-07_15-19-20-325_kxrvvt.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>

    <div class="video-iframe">
      <h1>A shoppable video is a mix of video plus product images and information.  With the DigitPop shoppable video player you can sell multiple products in one video and have all the product information just a tap away</h1>
      <button mat-raised-button color color="primary" (click)="preview_fenty_icon()">
        Watch Fenty Icon Shoppable Video
      </button>
    </div>

    <div class="video-iframe">
      <h1>Analytics and Project Wizard</h1>
      <video width="100%" autoplay loop muted controls="controls">
        <source
          src="https://res.cloudinary.com/boggssystems/video/upload/v1662579182/bandicam_2022-09-07_15-32-02-197_fsfuqk.mp4"
          type="video/mp4"
        />
      </video>
    </div>

    <div class="video-iframe">
      <h1>The DigitPop toolkit for advertisers is where you can create, host and stream your shoppable videos across the internet.  The Dashboard, in the toolkit, displays Shoppable Video projects and campaigns.  Detailed analytics provide information about the products that are of interest to your customers</h1>
    </div>

    <div class="video-iframe">
      <h1>Campaigns to reach new Audiences</h1>
      <video width="100%" autoplay loop muted controls="controls">
        <source
          src="https://res.cloudinary.com/boggssystems/video/upload/v1662580438/bandicam_2022-09-07_15-52-34-746_v3pmme.mp4"
          type="video/mp4"
        />
      </video>
    </div>


    <div class="video-iframe">
      <h1>DigitPop is different because you only pay when the viewer proves they understand your message.  With Cost Per Completed Comprehension pricing you won't be paying when the viewer idsn't paying attention like in Cost Per View pricing (CPV)</h1>
    </div>

    <div class="video-iframe">
      <h1>The ad is gamified and the user proves the viewer understands your message</h1>
      <video width="100%" autoplay loop muted controls="controls">
        <source
          src="https://res.cloudinary.com/boggssystems/video/upload/v1662853016/bandicam_2022-09-10_18-40-03-913_-_2of2_bzhrp5.mp4"
          type="video/mp4"
        />
      </video>
    </div>

    <div class="video-iframe">
      <h1>The viewer completes a quiz at the end of ad and proves they understand the message you want to convey</h1>
    </div>

    <div class="video-iframe">
      <h1>DigitPop For Advertisers</h1>
      <video width="100%" controls="controls" >
        <source
          src="https://res.cloudinary.com/boggssystems/video/upload/v1662496110/DigitPOP_For_Advertisers_t18eom.mp4"
          type="video/mp4"
        />
      </video>
    </div>


    <div class="video-iframe">
      <h1>Why host your videos on DigitPop instead of YouTube?</h1>
      <video width="100%" controls="controls" >
        <source
          src="https://res.cloudinary.com/boggssystems/video/upload/v1662082829/DigitPop_-_Hosting-1080p-220810_k5k1sa.mp4#t=6.0"
          type="video/mp4"
        />
      </video>
    </div>

    <div class="video-iframe">
      <h1>Why Advertise through DigitPop?</h1>
      <video width="100%" controls="controls" >
        <source
          src="https://res.cloudinary.com/boggssystems/video/upload/v1662494321/Why_advertise_through_DigitPop__mrorkf.mp4"
          type="video/mp4"
        />
      </video>
    </div>

    <div class="video-iframe">
      <h1>DigitPop for Media Subscriptions</h1>
      <video width="100%" controls="controls" >
        <source
          src="https://res.cloudinary.com/boggssystems/video/upload/v1662495028/DigitPop_for_Media_Subscriptions___Have_your_online_subscriptions_paid_for_w1obhg.mp4"
          type="video/mp4"
        />
      </video>
    </div>

    <div class="video-iframe">
      <h1>Why CPV Wastes your AD Dollars?</h1>
      <video width="100%" controls="controls" >
        <source
          src="https://res.cloudinary.com/boggssystems/video/upload/v1662495471/Why_Cost_Per_View_pricing_wastes_your_ad_dollars_znv1kd.mp4"
          type="video/mp4"
        />
      </video>
    </div>




  </div>
  <a
    mat-raised-button
    id="checkout"
    class="planpanelbutton"
    color="primary"
    href="javascript:void(0)"
    data-billsby-type="checkout"
  ></a>
</main>
