
	<div id="top"></div>

    <div class="dpop-sect dpop-sect-pink dpop-sect-top">
			<div class="dpop-cont">
				<div class="dpop-title dpop-title-l scrollanim-bounceInDown-0">A Different Online Ad Network</div>
			</div>
			<div class="dpop-cont">
				<div class="dpop-cont-text">
					<div class="dpop-title scrollanim-bounceInDown-500">Advertisers</div>
					<div class="scrollanim-bounceInRight-1000">Increase your ROI with <span class="dpop-strong">Cost Per Completed Comprehension</span> pricing. Stop paying for views and impressions when no one is paying attention to your ad.</div>
					<a href="#advertisers" class="dpop-cta dpop-cta-s scrollanim-bounceIn-1000">Learn more</a>
				</div>
				<div class="dpop-cont-text">
					<div class="dpop-title scrollanim-bounceInDown-500">Consumers</div>
					<div class="scrollanim-bounceInRight-1000">Get your favorite online media like Netflix and Pandora for free through <span class="dpop-strong">Digitpop Rewards</span>. Get up to $50 worth of media per month and save up to $3000 over five years.</div>
					<a href="#consumers" class="dpop-cta dpop-cta-s scrollanim-bounceIn-1000">Learn more</a>
				</div>
				<div class="dpop-cont-text">
					<div class="dpop-title scrollanim-bounceInDown-500">Publishers</div>
					<div class="scrollanim-bounceInRight-1000">Increase your audience with a <span class="dpop-strong">new revenue stream</span>. Monetize with ad supported content that never interrupts your viewer.</div>
					<a href="#publishers" class="dpop-cta dpop-cta-s scrollanim-bounceIn-1000">Learn more</a>
				</div>
			</div>
		</div>

		<div class="dpop-sect" id="advertisers">
			<div class="dpop-cont">
				<div class="dpop-wrap">
					<div class="dpop-title dpop-title-l scrollanim-bounceInDown-500">Shoppable Video Cloud for eCommerce</div>
					<div class="scrollanim-bounceInDown-1000">DigitPop provides <span class="dpop-strong">FREE online shoppable video hosting and streaming</span> for business. Our toolkit provides everything you need to <span class="dpop-strong">Create campaigns and reach new customers</span> by incentivizing them with rewards for not just watching your ads but also understanding your message.</div>

					<video poster="../../assets/video/video_01.jpg" loop autoplay class="scrollanim-bounceIn-500">
						<source src="../../assets/video/video_01.mp4" type="video/mp4">
					</video>

				</div>
			</div>
			<div class="dpop-cont-cta">
				<a href="#" class="dpop-cta scrollanim-bounceIn-0">Watch the shoppable video now!</a>
			</div>
		</div>

		<div class="dpop-sect dpop-sect-pink">
			<div class="dpop-cont dpop-cont-sep">
				<div class="dpop-cont-video">
					<video poster="../../assets/video/video_02.jpg" loop class="scrollanim-bounceInLeft-500">
						<source src="../../assets/video/video_02.mp4" type="video/mp4">
					</video>
				</div>
				<div class="dpop-cont-text scrollanim-bounceInRight-1000">
					We reduce the obstacles between your customers seeing products in your video and the purchase checkout with our shoppable video player. Tap the screen to purchase anything.
				</div>
			</div>
		</div>

		<div class="dpop-sect dpop-sect-pink">
			<div class="dpop-cont">
				<div class="dpop-cont-text scrollanim-bounceInLeft-500">
					A shoppable video is a mix of video plus product images and information. With the DigitPop shoppable video player you can sell multiple products in one video and have all the product information just a tap away.
				</div>
				<div class="dpop-cont-video">
					<video poster="../../assets/video/video_03.jpg" loop class="scrollanim-bounceInRight-1000">
						<source src="../../assets/video/video_03.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="dpop-cont-cta">
				<a href="#" class="dpop-cta scrollanim-bounceIn-0">Make your own shopppable video!</a>
			</div>
		</div>

		<div class="dpop-sect dpop-sect-white">
			<div class="dpop-cont">
				<div class="dpop-cont-video">
					<video poster="../../assets/video/video_04.jpg" loop class="scrollanim-bounceInLeft-500">
						<source src="../../assets/video/video_04.mp4" type="video/mp4">
					</video>
				</div>
				<div class="dpop-cont-text">
					<div class="dpop-title scrollanim-bounceInDown-1500">Analytics and Project Wizard</div>
					<div class="scrollanim-bounceInRight-1000">The DigitPop toolkit for advertisers is where you can create, host and stream your shoppable videos across the internet. The Dashboard, in the toolkit, displays Shoppable Video projects and campaigns. Detailed analytics provide information about the products that are of interest to your customers.</div>
				</div>
			</div>
		</div>

		<div class="dpop-sect dpop-sect-white">
			<div class="dpop-cont">
				<div class="dpop-cont-text">
					<div class="dpop-title scrollanim-bounceInDown-1500">Campaigns to reach new Audiences</div>
					<div class="scrollanim-bounceInLeft-1000">DigitPop is different because you only pay when the viewer proves they understand your message. With Cost Per Completed Comprehension pricing you won't be paying when the viewer idsn't paying attention like in Cost Per View pricing (CPV).</div>
				</div>
				<div class="dpop-cont-video">
					<video poster="../../assets/video/video_05.jpg" loop class="scrollanim-bounceInRight-500">
						<source src="../../assets/video/video_05.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</div>

		<div class="dpop-sect">
			<div class="dpop-cont">
				<div class="dpop-cont-video">
					<video poster="../../assets/video/video_06.jpg" loop class="scrollanim-bounceInLeft-500">
						<source src="../../assets/video/video_06.mp4" type="video/mp4">
					</video>
				</div>
				<div class="dpop-cont-text">
					<div class="dpop-title scrollanim-bounceInDown-1500">The ad is gamified and the user proves the viewer understands your message</div>
					<div class="scrollanim-bounceInRight-1000">The viewer completes a quiz at the end of ad and proves they understand the message you want to convey.</div>
				</div>
			</div>
			<div class="dpop-cont-cta">
				<a href="#" class="dpop-cta scrollanim-bounceIn-0">See how it works!</a>
			</div>
		</div>

		<div class="dpop-sect dpop-sect-gray">
			<div class="dpop-cont">
				<div class="dpop-cont-video">
					<div class="dpop-title scrollanim-bounceInDown-500">DigitPop For Advertisers</div>
					<video poster="../../assets/video/video_07.jpg" controls class="scrollanim-bounceInLeft-0 noautoplay">
						<source src="../../assets/video/video_07.mp4" type="video/mp4">
					</video>
				</div>
				<div class="dpop-cont-video">
					<div class="dpop-title scrollanim-bounceInDown-1500">Why host your videos on DigitPop instead of YouTube?</div>
					<video poster="../../assets/video/video_08.jpg" controls class="scrollanim-bounceInRight-1000 noautoplay">
						<source src="../../assets/video/video_08.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</div>

		<div class="dpop-sect dpop-sect-gray">
			<div class="dpop-cont">
				<div class="dpop-cont-video">
					<div class="dpop-title scrollanim-bounceInDown-500">Why Advertise through DigitPop?</div>
					<video poster="../../assets/video/video_09.jpg" controls class="scrollanim-bounceInLeft-0 noautoplay">
						<source src="../../assets/video/video_09.mp4" type="video/mp4">
					</video>
				</div>
				<div class="dpop-cont-video">
					<div class="dpop-title scrollanim-bounceInDown-1500">Why CPV Wastes your AD Dollars?</div>
					<video poster="../../assets/video/video_11.jpg" controls class="scrollanim-bounceInLeft-1000 noautoplay">
						<source src="../../assets/video/video_11.mp4" type="video/mp4">
					</video>
				</div>
			</div>
		</div>

		<div class="dpop-sect dpop-sect-pink" id="consumers">
			<div class="dpop-cont">
				<div class="dpop-cont-video">
					<video poster="../../assets/video/video_10.jpg" controls class="scrollanim-bounceInRight-0 noautoplay">
						<source src="../../assets/video/video_10.mp4" type="video/mp4">
					</video>
				</div>
				<div class="dpop-cont-text">
					<div class="dpop-title scrollanim-bounceInDown-1500">Watch Shoppable Videos for Rewards</div>
					<div class="scrollanim-bounceInRight-1000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultricies at ligula quis consequat. Nullam vitae ultrices enim, nec elementum nisi. Phasellus eget venenatis velit.</div>
				</div>
			</div>
			<div class="dpop-cont-cta">
				<a href="#" class="dpop-cta">Let's get started!</a>
			</div>
		</div>

		<div class="dpop-sect" id="publishers">
			<div class="dpop-cont">
				<div class="dpop-cont-text">
					<div class="dpop-title scrollanim-bounceInDown-1500">A new revenue stream for Publishers</div>
					<div class="scrollanim-bounceInRight-1000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultricies at ligula quis consequat. Nullam vitae ultrices enim, nec elementum nisi. Phasellus eget venenatis velit.</div>
				</div>
				<div class="dpop-cont-video">
					<video poster="../../assets/video/video_12.jpg" controls class="scrollanim-bounceInRight-0 noautoplay">
						<source src="../../assets/video/video_12.mp4" type="video/mp4">
					</video>
				</div>
			</div>
			<div class="dpop-cont-cta">
				<a href="#" class="dpop-cta">Convinced? Sign up now!</a>
			</div>
		</div>

		<div class="dpop-sect dpop-sect-foot">
			<div class="dpop-cont">
				<div class="dpop-cont-row">
					<div class="dpop-cont-logo">
						<img class="dpop-logo" src="../../assets/img/logo-dpop.svg" />
					</div>
					<div class="dpop-cont-social">
						<div class="dpop-social">
							<div>
								<a href="https://twitter.com/digit_pop" target="_blank">
									<img class="dpop-social-icon" src="../../assets/img/logo-twitter.svg" />
								</a>
							</div>
							<div>
								<a href="https://www.linkedin.com/company/digitpop/about/" target="_blank">
									<img class="dpop-social-icon" src="../../assets/img/logo-linkedin.svg" />
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="dpop-cont-row">
					&copy; 2022 DigitPop. All rights reserved.
				</div>
			</div>
		</div>
