<main class="landing dp-background">
  <div class="video-players">


    <div class="video-iframe">
      <h1>Create your first Shoppable Video now</h1>
      <button mat-raised-button color color="primary" (click)="createFreeTrialAccount()">
        Start your video
      </button>
    </div>

    <div class="video-iframe">
      <h1>View sample Shoppable Video with Rihanna and Fenty Cosmetics</h1>
      <button mat-raised-button color color="primary" (click)="preview()">
        View
      </button>
    </div>

    <div class="video-iframe">
      <h1>DigitPop for Media Subscriptions</h1>
      <iframe
        src="https://www.youtube.com/embed/DWnw_pA6BeE"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <div class="video-iframe">
      <h1>Why Advertise through DigitPop?</h1>
      <iframe
        src="https://www.youtube.com/embed/0HrUc-2xPQg"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <div class="video-iframe">
      <h1>Why CPV Wastes your AD Dollars?</h1>
      <iframe
        src="https://www.youtube.com/embed/20Bp_fVBtwg"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <div class="video-iframe">
      <h1>Do you Advertise to the 18-34 yo Demographic?</h1>
      <iframe
        src="https://www.youtube.com/embed/zldmdaHhJ18"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <div class="video-iframe">
      <h1>DigitPop For Advertisers</h1>
      <iframe
        src="https://www.youtube.com/embed/iggoXTuNZXA"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <a
    mat-raised-button
    id="checkout"
    class="planpanelbutton"
    color="primary"
    href="javascript:void(0)"
    data-billsby-type="checkout"
  ></a>
</main>
