@mixin product-description($gridColumnStart: 2, $gridColumnSpan: 6, $gridRowStart: 12, $gridRowSpan: 22, $fontSize: 14px) {
  margin-top: 10px;
  grid-column: #{$gridColumnStart}/#{$gridColumnSpan};
  grid-row: #{$gridRowStart}/#{$gridRowSpan};
  font-size: $fontSize;
  font-weight: 300;
  background-color: transparent;
  color: #fff;
  font-family: Ubuntu, sans-serif;
}

@mixin product-image-thumbnails($gridColumnStart: 9, $gridColumnSpan:12, $gridRowStart: 8, $gridRowSpan: 22) {
  grid-column: #{$gridColumnStart}/#{$gridColumnSpan};
  grid-row: #{$gridRowStart}/#{$gridRowSpan};
}

@mixin product-buy-now($gridColumnStart: 2, $gridColumnSpan: 6, $gridRowStart: 10, $gridRowSpan: 12, $fontSize: 16px) {
  grid-column: #{$gridColumnStart}/#{$gridColumnSpan};
  grid-row: #{$gridRowStart}/#{$gridRowSpan};
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #000000;
  color: #5abeff;
  font-size: $fontSize;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  display: table-cell;
  vertical-align: middle;
}

@mixin product-price($gridColumnStart: 5, $gridColumnSpan: 6, $gridRowStart: 8, $gridRowSpan: 10, $fontSize: 25px) {
  grid-column: #{$gridColumnStart}/#{$gridColumnSpan};
  grid-row: #{$gridRowStart}/#{$gridRowSpan};
  font-size: $fontSize;
}

@mixin product-subtitle($gridColumnStart: 2, $gridColumnSpan: 5, $gridRowStart: 8, $gridRowSpan: 10, $fontSize: 16px) {
  grid-column: #{$gridColumnStart}/#{$gridColumnSpan};
  grid-row: #{$gridRowStart}/#{$gridRowSpan};
  font-size: $fontSize;
  font-weight: 500;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@mixin product-main-image($gridColumnStart, $gridColumnSpan, $gridRowStart, $gridRowSpan) {
  grid-column: #{$gridColumnStart}/#{$gridColumnSpan};
  grid-row: #{$gridRowStart}/#{$gridRowSpan};
}

@mixin pg-products-list($gridColumnStart: 2, $gridColumnSpan: 12, $gridRowStart, $gridRowSpan) {
  grid-column: #{$gridColumnStart}/#{$gridColumnSpan};
  grid-row: #{$gridRowStart}/#{$gridRowSpan};
  width: 100%;
  height: 100%;
}

@mixin button-start-grid($gridColumnStart, $gridColumnSpan, $gridRowStart, $gridRowSpan) {
  color: #fff;
  grid-column: #{$gridColumnStart}/#{$gridColumnSpan};
  grid-row: #{$gridRowStart}/#{$gridRowSpan};
}

@mixin title($gridColumnStart: 4, $gridColumnSpan: 36, $gridRowStart: 1, $gridRowSpan: 2, $fontSize: 20px) {
  grid-column: #{$gridColumnStart}/#{$gridColumnSpan};
  grid-row: #{$gridRowStart}/#{$gridRowSpan};
  font-size: $fontSize;
  color: #fff;
}

@mixin product-template($gridTemplateColumns: 120px 200px, $gridTemplateRows: 20px 100px) {
  display: grid;
  grid-template-columns: $gridTemplateColumns;
  grid-template-rows: $gridTemplateRows;
}

@mixin product-template-image($width: 100px) {
  grid-column: 1/2;
  grid-row: 1/3;
  width: $width;
  height: auto;
}

@mixin product-template-name($marginLeft: 10px, $height: 20px, $fontSize: 12px) {
  margin-left: $marginLeft;
  grid-column: 2/3;
  grid-row: 1/2;
  height: $height;
  font-size: $fontSize;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

@mixin product-template-description-container($marginLeft: 10px, $height: 100px) {
  margin-left: $marginLeft;
  grid-column: 2/3;
  grid-row: 2/3;
  height: $height;
}

@mixin product-template-description($width: 175px, $webkitLineClamp: 5) {
  $width: $width;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $webkitLineClamp;
  overflow: hidden;
}

.shoppable-video-tutorial {
  z-index: 1;
  width: 75px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.video-player-nav {
  display: grid;
  grid-template-columns: repeat(48, 1fr);
  grid-template-rows: 75px;
}

.nav {
  grid-column: 1/13;
  grid-row: 3/5;
}

.button-base {
  width: 68px;
  height: 48px;
  display: inline-block;
  cursor: pointer;
  background: url("../../assets/images/button_base.png") center top no-repeat;
  font-size: 10px;
  text-align: center;
}

.button-base > div {
  width: 48px;
  height: 48px;
  margin: 0 10px;
  background: url("../../assets/images/button_icons.png");
}

.button-resume > div {
  background-position: -144px top;
}

.button-resume:not(.disabled):active > div {
  background-position: -144px bottom;
}

.button-locate:not(.disabled):active > div {
  background-position: -192px bottom;
}

.button-prev > div {
  background-position: -288px top;
}

.button-prev:not(.disabled):active > div {
  background-position: -288px bottom;
}

.button-next > div {
  background-position: -240px top;
}

.button-next:not(.disabled):active > div {
  background-position: -240px bottom;
}

.button-up > div {
  background-position: -336px top;
}

.button-up:not(.disabled):active > div {
  background-position: -336px bottom;
}

.button-start > div {
  background-position: -480px top;
}

.button-start:not(.disabled):active > div {
  background-position: -240px bottom;
}

.button-all > div {
  background-position: -48px top;
}

.button-all:not(.disabled):active > div {
  background-position: -48px bottom;
}

@media only screen and (max-width: 550px) {

  .video-player-nav {
    grid-template-rows: 75px 75px;
  }

  .product-description {
    @include product-description($gridColumnStart: 2, $gridColumnSpan: 12, $gridRowStart: 18, $gridRowSpan: 24);
  }

  .product-thumbnail {
    width: 30px;
    height: 30px;
  }

  .product-image-thumbnails {
    @include product-image-thumbnails($gridRowStart: 9, $gridRowSpan: 16);
  }

  .product-buy-now {
    @include product-buy-now($fontSize: 20px);
  }

  .product-price {
    @include product-price($gridColumnStart: 8, $gridColumnSpan: 12, $gridRowStart: 8, $gridRowSpan: 8, $fontSize: 18px);
  }

  .product-subtitle {
    @include product-subtitle($gridColumnStart: 2, $gridColumnSpan: 7, $gridRowStart: 8, $gridRowSpan: 8, $fontSize: 12px);
    word-wrap: break-word;
  }

  .product-main-image {
    @include product-main-image($gridColumnStart: 2, $gridColumnSpan: 10, $gridRowStart: 9, $gridRowSpan: 16);
    max-width: 100%;
    max-height: 100%;
  }

  .pg-products-list {
    @include pg-products-list($gridRowStart: 10, $gridRowSpan: 26);
  }

  .button-start-grid {
    @include button-start-grid($gridColumnStart: 2, $gridColumnSpan: 3, $gridRowStart: 2, $gridRowSpan: 3);
  }

  .title {
    margin-left: 20px;
    @include title($gridColumnStart: 12, $gridColumnSpan: 46, $gridRowStart: 2, $gridRowSpan: 3);
  }
}

@media only screen and (min-width: 551px) {

  .product-buy-now {
    @include product-buy-now();
  }

  .product-thumbnail {
    width: 25%;
    height: auto;
  }

  .product-main-image {
    @include product-main-image($gridColumnStart: 6, $gridColumnSpan: 9, $gridRowStart: 8, $gridRowSpan: 16);
    width: 100%;
    height: auto;
  }

  .pg-products-list {
    @include pg-products-list($gridRowStart: 8, $gridRowSpan: 24);
  }

  .button-start-grid {
    @include button-start-grid($gridColumnStart: 45, $gridColumnSpan: 46, $gridRowStart: 1, $gridRowSpan: 2);
  }

  .title {
    @include title();
  }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
  .product-image-thumbnails {
    @include product-image-thumbnails();
  }

  .product-description {
    @include product-description();
  }

  .product-price {
    @include product-price($fontSize: 18px);
  }

  .product-subtitle {
    @include product-subtitle($fontSize: 12px);
  }

  .product-buy-now {
    @include product-buy-now();
  }

  .button-locate > div {
    background-position: -192px top;
  }
}

@media only screen and (max-width: 768px) {
  .social-share-button {
    font-size: 14px;
  }

  .product-template {
    @include product-template($gridTemplateColumns: 75px 175px, $gridTemplateRows: 16px 75px);
    overflow: hidden;
  }

  .product-template-image {
    @include product-template-image($width: 75px);
  }

  .product-template-name {
    @include product-template-name($marginLeft: 5px, $height: 14px, $fontSize: 12px);
  }

  .product-template-description-container {
    @include product-template-description-container($marginLeft: 5px, $height: 75px);
  }

  .product-template-description {
    @include product-template-description($width: 150px, $webkitLineClamp: 3);
    font-size: 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 897px) {
  .title {
    @include title($fontSize: 25px);
  }

  .product-description {
    @include product-description();
  }

  .product-price {
    @include product-price($fontSize: 22px);
  }

  .product-subtitle {
    @include product-subtitle();
  }

  .product-image-thumbnails {
    @include product-image-thumbnails();
  }

  .product-buy-now {
    @include product-buy-now();
  }

  .product-template {
    @include product-template($gridTemplateColumns: 80px 160px, $gridTemplateRows: 20px 80px);
  }

  .product-template-image {
    @include product-template-image($width: 80px);
  }

  .product-template-name {
    @include product-template-name($height: 16px);
  }

  .product-template-description-container {
    @include product-template-description-container($height: 80px);
  }

  .product-template-description {
    @include product-template-description($width: 160px, $webkitLineClamp: 4);
    font-size: 10px;
    vertical-align: top;
  }
}

@media only screen and (min-width: 897px) and (max-width: 1059px) {
  .title {
    @include title($gridColumnStart: 4, $gridColumnSpan: 30, $fontSize: 32px);
  }

  .product-description {
    @include product-description();
  }

  .product-price {
    @include product-price($fontSize: 22px);
  }

  .product-subtitle {
    @include product-subtitle();
  }

  .product-image-thumbnails {
    @include product-image-thumbnails();
  }

  .product-buy-now {
    @include product-buy-now();
  }

  .product-template {
    @include product-template();
  }

  .product-template-image {
    @include product-template-image();
  }

  .product-template-name {
    @include product-template-name($fontSize: 16px);
  }

  .product-template-description-container {
    @include product-template-description-container();
  }

  .product-template-description {
    @include product-template-description($width: 175px);
  }
}

@media only screen and (min-width: 1060px) and (max-width: 1366px) {
  .title {
    @include title($gridColumnStart: 4, $gridColumnSpan: 30, $fontSize: 40px);
  }

  .product-image-thumbnails {
    @include product-image-thumbnails($gridColumnStart: 9, $gridColumnSpan: 11);
  }

  .product-template {
    @include product-template();
  }

  .product-template-image {
    @include product-template-image();
  }

  .product-template-name {
    @include product-template-name($fontSize: 16px);
  }

  .product-template-description-container {
    @include product-template-description-container();
  }

  .product-template-description {
    @include product-template-description();
  }

  .product-subtitle {
    @include product-subtitle($fontSize: 25px);
  }

  .product-price {
    @include product-price();
  }

  .product-description {
    @include product-description($fontSize: 18px);
  }

  .product-buy-now {
    @include product-buy-now();
  }
}

@media only screen and (min-width: 1367px) {
  .title {
    @include title($gridColumnStart: 4, $gridColumnSpan: 30, $fontSize: 40px);
  }

  .product-image-thumbnails {
    @include product-image-thumbnails($gridColumnStart: 9, $gridColumnSpan: 11);
  }

  .product-template {
    @include product-template($gridTemplateColumns: 160px 300px, $gridTemplateRows: 30px auto);
  }

  .product-template-image {
    @include product-template-image($width: 150px);
  }

  .product-template-name {
    @include product-template-name($height: 30px, $fontSize: 24px);
  }

  .product-template-description-container {
    @include product-template-description-container($height: 150px);
  }

  .product-template-description {
    @include product-template-description($width: 275px);
  }

  .product-subtitle {
    @include product-subtitle($fontSize: 25px);
  }

  .product-price {
    @include product-price();
  }

  .product-description {
    @include product-description($fontSize: 18px);
  }

  .product-buy-now {
    @include product-buy-now($fontSize: 20px);
  }
}

@media only screen and (max-height: 412px) and (max-width: 550px) {
  .product-buy-now {
    @include product-buy-now($gridRowStart: 28, $gridRowSpan: 30, $fontSize: 14px);
  }
}

@media only screen and (max-height: 412px) and (min-width: 550px) {
  .product-buy-now {
    @include product-buy-now($fontSize: 14px);
  }
}

@media only screen and (min-height: 413px) and (max-height: 565px) and (max-width: 550px) {
  .product-buy-now {
    @include product-buy-now($fontSize: 20px);
  }
}

@media only screen and (min-height: 565px) and (max-width: 550px) {
  .product-buy-now {
    @include product-buy-now($gridRowStart: 16, $gridRowSpan: 18, $fontSize: 20px);
  }
}

@media only screen and (min-height: 565px) and (min-width: 551px) {
  .product-buy-now {
    @include product-buy-now($fontSize: 20px);
  }
}

.play-ad-video {
  z-index: 99;
  height: 100vh;
  width: 100vw;
}

.button-quiz-grid {
  grid-column: 39/40;
  grid-row: 1/2;
}

.button-locate-grid {
  grid-column: 40/41;
  grid-row: 1/2;
}

.button-prev-grid {
  grid-column: 41/42;
  grid-row: 1/2;
}

.button-next-grid {
  grid-column: 43/44;
  grid-row: 1/2;
}

.button-up-grid {
  grid-column: 44/45;
  grid-row: 1/2;
}

.button-all-grid {
  grid-column: 42/43;
  grid-row: 1/2;
}

.button-base.disabled {
  opacity: 0.3;
}

.button-help-grid {
  grid-column: 47/48;
  grid-row: 1/2;
}

.button-base:not(.disabled):hover {
  background-position: center bottom;
}

.button-base:not(.disabled):active > div {
  background-position: center bottom;
}

.fa-share-alt:before {
  content: "\f1e0";
}

.fa-share-alt-square:before {
  content: "\f1e1";
}

.mat-icon-button.large {
  width: 48px;
  height: 48px;
  line-height: 48px;
  background-color: transparent;

  .mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    color: white;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #202020;
}

.video-thumbnail {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.sound-status {
  opacity: 0.65;
  cursor: pointer;
  z-index: 99;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
}

.canvas {
  z-index: 101;
}

.main-product-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(24, 1fr);
  column-gap: 10px;
  position: absolute;
  left: 0;
  top: 0;
}

[hidden] {
  display: none !important;
}

.button-resume-grid {
  grid-column: 2/3;
  grid-row: 1/2;
}

.products-container {
  display: flex;
  flex-flow: row wrap;
  row-gap: 10px;
}

.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

::ng-deep .simplebar-scrollbar::before {
  background-color: #cdcdcd !important;
}

.all-pg-thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.all-pg-thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.all-products {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 50px 250px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.all-pg-title {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  height: 30px;
  font-size: 26px;
}

.all-products-image {
  grid-row: 2/3;
  grid-column: 1/2;
  height: 200px;
}

#go-to-quiz {
  animation: quizScaleAnimation 5s ease-in-out infinite alternate;
  -webkit-animation: quizScaleAnimation 5s ease-in-out infinite alternate;
}

@keyframes quizScaleAnimation {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.5);
  }
}
