<div class="container">
  <img
    (click)="onStartVideo()"
    [alt]="ad?.name"
    [hidden]="!showThumbnail"
    [src]="ad?.thumbnail.secure_url"
    class="video-thumbnail"
  />
  <img
    (click)="toggleVideoMute()"
    [hidden]="!showSoundIcon"
    [src]="videoMuted ? '/assets/images/muted_icon.svg' :'/assets/images/speaker_icon.svg'"
    class="sound-status muted"
    src="/assets/images/muted_icon.svg"
  />
  <video
    #videoPlayer
    (click)="onShowProduct()"
    (ended)="onEnded()"
    [hidden]="!showVideo"
    [src]="ad?.media.secure_url"
    class="play-ad-video"
    crossorigin="anonymous"
    playsinline
    style="background-color: #202020"
  >
  </video>
  <div [hidden]="!showCanvas">
    <canvas #canvas></canvas>
  </div>

  <div
    [hidden]="!showCanvas"
    class="main-product-grid"
  >
    <div class="nav" id="main_head">
      <div class="video-player-nav">
        <div
          (click)="onResumeVideo()"
          class="button-resume-grid button-base button_resume"
        >
          <div></div>
          Resume
        </div>

        <div (click)="onQuizButtonPressed()"
             *ngIf="showQuizButton == true"
             class="quizScaleAnimation button-quiz-grid button-base"
             id="quizButton"
        >
          <div></div>
          Go To QUIZ
        </div>

        <div
          (click)="onSeekAndPlay()"
          *ngIf="viewState == 'ProductGroup'"
          class="button_locate_grid button-base button_locate"
        >
          <div></div>
          Seek and play
        </div>

        <div
          (click)="onPreviousProductGroup()"
          *ngIf="viewState == 'ProductGroup'"
          [ngClass]="{ disabled: disablePrevious }"
          class="button_prev_grid button-base button_prev"
        >
          <div></div>
          Previous
        </div>

        <div
          (click)="onAllProductGroupsClick()"
          *ngIf="viewState == 'ProductGroup'"
          class="button_all_grid button-base button_all"
        >
          <div></div>
          All groups
        </div>

        <div
          (click)="onNextProductGroup()"
          *ngIf="viewState == 'ProductGroup'"
          [ngClass]="{ disabled: disableNext }"
          class="button_next_grid button-base button_next"
        >
          <div></div>
          Next
        </div>

        <div
          (click)="onBackToGroup()"
          *ngIf="viewState == 'Product' && showBackToGroupButton() == true"
          class="button_up_grid button-base button_up"
        >
          <div></div>
          Back to group
        </div>

        <div (click)="onExit()"
             class="button_start_grid button-base button_start">
          <div></div>
          Close
        </div>

        <div class="button_help_grid">
          <div>
            <mat-icon (click)="help()">help</mat-icon>
          </div>
        </div>

        <div *ngIf="viewState == 'ProductGroup'" class="title">
          {{ currentProductGroup?.title }}
        </div>
        <div *ngIf="viewState == 'Product'" class="title">
          {{ currentProduct.name }}
        </div>
      </div>
    </div>

    <!-- NOTE :  Insert a div here to encapsulate the product screen and product group screen.
         Base the visibility -->
    <div *ngIf="viewState == 'Product'" [attr.title]="currentProduct?.subtitle"
         class="productInfoSubTitle">
      {{ currentProduct?.subtitle | subtitle }}
    </div>
    <div *ngIf="viewState == 'Product'" class="productInfoPrice">
      {{ currentProduct?.price | currency }}
    </div>
    <button
      (click)="onBuyNow()"
      *ngIf="viewState == 'Product'"
      class="productInfoBuyNow"
      mat-raised-button
    >
      Buy Now
    </button>

    <div
      *ngIf="viewState == 'Product'"
      class="product-description"
      class="simplebar-scrollbar"
      data-simplebar
    >
      <p class="product-description">{{ currentProduct?.description }}</p>
    </div>

    <img
      (click)="openDialog()"
      *ngIf="viewState == 'Product'"
      [src]="selectedImage?.url"
      class="productImageMain"
    />

    <div *ngIf="viewState == 'Product'" class="productImageThumbnailGrid">
      <ul style="list-style-type: none">
        <li *ngFor="let thumbnail of currentProduct?.images">
          <img
            (click)="onClickThumbnail(thumbnail)"
            [src]="thumbnail?.url"
            class="productImageThumbnail"
          />
        </li>
      </ul>
    </div>
    <div *ngIf="viewState == 'ProductGroup'" class="pgProductsList">
      <cdk-virtual-scroll-viewport
        class="pgProductsList"
        itemSize="50"
        maxBufferPx="400"
        minBufferPx="200"
      >
        <div
          class="productsFlexContainer"
          fxLayoutAlign="center"
          fxLayoutGap="5px"
        >
          <div
            (click)="onProductClick(pt)"
            *cdkVirtualFor="let pt of this.currentProductGroup?.products"
            class="productTemplate"
          >
            <img [src]="pt.images[0]?.url" class="productTemplate_Image"/>
            <span class="productTemplate_Name_Container">{{ pt.name }}</span>
            <div class="productTemplate_Description_Container">
              <p class="productTemplate_Description">{{ pt.description }}</p>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>

    <div *ngIf="viewState == 'AllProductGroups'" class="pgProductsList">
      <cdk-virtual-scroll-viewport
        class="pgProductsList"
        itemSize="50"
        maxBufferPx="400"
        minBufferPx="200"
      >
        <div
          class="productsFlexContainer"
          fxLayoutAlign="center"
          fxLayoutGap="5px"
        >
          <div
            (click)="onProductGroupClick(pg)"
            *cdkVirtualFor="let pg of this.ad.productGroupTimeLine"
            class="allProductGroupTemplate"
          >
            <img
              [src]="pg.thumbnail.url"
              class="allProductGroupImage allPgthumbnail"
            />
            <span class="allProductGroupTitle">{{ pg.title }}</span>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
