.quiz-animation {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 100%;
  display: flex;
  background-color: transparent;
  z-index: 9999999999;
  justify-content: center;
  align-items: center;
}

.quiz-animation.closed {
  bottom: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.25s 0s, bottom 0s 0.25s;
}

.quiz-animation.open {
  bottom: 0;
  overflow: unset;
  opacity: 1;
  transition: bottom 0s, opacity 0.5s;
}

.quiz-animation.open .quiz-animation-bubble {
  animation: bubble-main 2s step-end 0.5s forwards 1;
}

.quiz-animation.open .quiz-animation-bubble-score {
  animation: bubble-score 2s ease 0.5s forwards 1;
}

.quiz-animation-bubble {
  position: relative;
  width: 300px;
  height: 300px;
  background-image: url("/assets/img/app_bubble.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 0 0;
  opacity: 0;
}

.quiz-animation-bubble-score {
  color: #fff;
  position: absolute;
  z-index: -1;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  top: 90px;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 0);
}

@keyframes bubble-main {
  1.00% {
    background-position: 0 0;
    opacity: 1;
  }

  2.00% {
    background-position: -300px 0;
  }

  3.00% {
    background-position: -600px 0;
  }

  4.00% {
    background-position: -900px 0;
  }

  5.00% {
    background-position: -1200px 0;
  }

  6.00% {
    background-position: -1500px 0;
  }

  7.00% {
    background-position: -1800px 0;
  }

  8.00% {
    background-position: -2100px 0;
  }

  9.00% {
    background-position: -2400px 0;
  }

  10.00% {
    background-position: -2700px 0;
  }

  10.25% {
    background-position: -3000px 0;
  }

  10.50% {
    background-position: -3300px 0;
  }

  10.75% {
    background-position: -3600px 0;
  }

  11.00% {
    background-position: -3900px 0;
  }

  11.25% {
    background-position: -4200px 0;
  }

  11.50% {
    background-position: -4500px 0;
  }

  11.75% {
    background-position: -4800px 0;
  }

  12.00% {
    background-position: -5100px 0;
  }

  12.25% {
    background-position: -5400px 0;
  }

  12.50% {
    background-position: -5700px 0;
  }

  12.75% {
    background-position: -6000px 0;
  }

  13.00% {
    background-position: -6300px 0;
  }

  13.25% {
    background-position: -6600px 0;
  }

  13.50% {
    background-position: -6900px 0;
  }

  13.75% {
    background-position: -7200px 0;
  }

  14.00% {
    background-position: -7500px 0;
  }

  15.00% {
    opacity: 1;
  }

  99.00% {
    opacity: 1;
  }

  100.0% {
    opacity: 0;
  }
}

@keyframes bubble-score {
  7% {
    opacity: 0;
    font-size: 6rem;
    top: 90px;
  }

  16% {
    opacity: 1;
    font-size: 10rem;
  }

  50% {
    font-size: 10rem;
  }

  100% {
    opacity: 0;
    font-size: 10rem;
    top: 10px;
  }
}
