	/* On Scroll Animations */
	[class*="scrollanim-"]:not(.animated) { opacity: 0; }

	/* Headache pill */
	* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; outline: none; }

	html { font-family: 'Titillium Web', sans-serif; font-size: 62.5%; }
	body { margin: 0; font-weight: 200; font-size: 1.8rem; line-height: 1.3; overflow-x: hidden; }
	
	/* Main */
	body > div[class^=dpop-] { padding: 0 3rem; }
	.dpop-sect-head { background-color: rgba(33,33,33,1); height: 12rem; }
	.dpop-sect-foot { background-color: rgba(33,33,33,1); height: 12rem; }
	.dpop-cont { height: 100%; margin: 0 auto; display: flex; }
	video { width: 100%; }
	
	#top { width: 60px; height: 60px; position: fixed; left: 30px; bottom: calc(50vh - 30px); border-radius: 50%; background: rgba(255,33,105,1) url('../img/top.svg'); border: rgba(255,255,255,1) 5px solid; display: none; cursor: pointer; z-index: 1; }
	
	/* Menu */
	.dpop-menu, .dpop-social { display: flex; flex-direction: row; justify-content: flex-end; font-size: 1.8rem; color: rgba(255,255,255,1); margin: 0 -1rem; }
	.dpop-menu-item, .dpop-social > div { margin: 0 1rem; cursor: pointer; height: 4rem; }
	.dpop-menu-item:hover { color: rgba(255,33,105,1); }
	
	/* Sections */
	.dpop-cont > div:not(:only-child), .dpop-sect-foot .dpop-cont-row:first-child > div { flex-basis: 50%; }
	.dpop-sect:not(.dpop-sect-head):not(.dpop-sect-foot) .dpop-cont { padding: 6rem 0; }
	.dpop-sect:not(.dpop-sect-head):not(.dpop-sect-foot) .dpop-cont + .dpop-cont { padding-top: 0; }
	.dpop-sect-pink { background-color: rgba(255,33,105,1); color: rgba(255,255,255,1); font-weight: 400; font-size: 1.8rem; }
	.dpop-sect-gray { background-color: rgba(33,33,33,1); color: rgba(255,255,255,1); }
	.dpop-sect-pink .dpop-title, .dpop-sect-gray .dpop-title { color: rgba(255,255,255,1); }
	.dpop-cont-sep { border-bottom: 0.1rem rgba(255,255,255,1) solid; }
	.dpop-cont-cta { text-align: center; padding-bottom: 6rem; }
	.dpop-cta { font-weight: 600; background-color: rgba(255,33,105,1); color: rgba(255,255,255,1); text-decoration: none; letter-spacing: -0.04rem; display: inline-block; border-radius: 6rem; }
	.dpop-sect-pink .dpop-cta { background-color: rgba(255,255,255,1); color: rgba(33,33,33,1); }
	.dpop-cta:hover { background-color: rgba(33,33,33,1); color: rgba(255,255,255,1); }
	
	.dpop-sect-top { background: rgba(255,33,105,1) url('../img/header_bg.png'); }
	.dpop-sect-top .dpop-cont-text { position: relative; padding-bottom: 10rem; }
	.dpop-sect-top .dpop-cta { position: absolute; bottom: 0; }

	/* Footer */
	.dpop-sect-foot .dpop-logo { width: 10rem; }
	.dpop-sect-foot .dpop-cont-row:first-child { display: flex; flex-direction: row; }
	.dpop-sect-foot .dpop-cont-row:last-child { color: rgba(255,255,255,0.35); font-size: 1.2rem; text-align: left; max-height: 2rem; flex-grow: 0; }
	.dpop-social-icon { width: 3.2rem; }

	/* Text */
	.dpop-title { font-size: 3rem; font-weight: 200; color: rgba(255,33,105,1); margin-bottom: 2rem; line-height: 1.1; }
	.dpop-title-l + div { font-weight: 200; margin-bottom: 4rem; line-height: 1.3; }
	.dpop-wrap, .dpop-title-l { font-weight: 400; }
	.dpop-strong { font-weight: 600; }
	
	/* Vertical align */
	.dpop-cont-logo, .dpop-menu-item, .dpop-sect:not(.dpop-sect-top) .dpop-cont-text, .dpop-cont-menu, .dpop-sect-foot .dpop-cont, .dpop-cont-social { display: flex; justify-content: center; flex-direction: column; }
	.dpop-sect:not(.dpop-sect-top) .dpop-cont-text { text-align: center; }
	.dpop-menu-item, .dpop-cont-text { align-items: center; }	


	/* Mobile and tablet */
	@media (max-width: 1019px) {
		/* Logo */
		.dpop-sect-head .dpop-logo { width: 15rem; }

		/* Main */
		.dpop-sect:not(.dpop-sect-head) .dpop-cont { width: 100%; flex-direction: column; }


		/* Body sections */
		.dpop-cont-video + .dpop-cont-text { order: 1; }
		.dpop-cont-video { order: 2; }
		.dpop-cont-video .dpop-title { padding-botom: 2rem; font-size: 2.4rem; line-height: 1.4; }
		.dpop-cont-video:not(:first-child) .dpop-title { padding-top: 4rem; }
		.dpop-cont-text { padding-bottom: 4rem; }
		
		.dpop-sect-white .dpop-cont { border-bottom: 0.1rem rgba(0,0,0,0.35) solid; }
		.dpop-sect-top .dpop-cont-text:not(:last-child) { margin-bottom: 6rem; }
		
		.dpop-cta { font-size: 1.8rem; padding: 1.8rem; }
		.dpop-cta-s { font-size: 2rem; padding: 1rem 1.8rem; }
		
		/* Text */
		.dpop-title-l { font-size: 3.2rem; }
	}

	/* Desktop */
	@media (min-width: 1020px) {
		/* Logo */
		.dpop-sect-head .dpop-logo { width: 20rem; }
		
		/* Main */
		.dpop-cont { width: 96rem; flex-direction: row; }

		/* Body sections */
		.dpop-cont-video { padding: 0 0 0 3rem; flex-grow: 1; }
		.dpop-cont-video:first-child { padding: 0 3rem 0 0; }
		.dpop-cont-text { padding: 0 0 0 3rem; max-width: 40rem; }
		.dpop-cont-text:first-child { padding: 0 3rem 0 0; }

		.dpop-sect-top .dpop-cont { justify-content: space-between; }
		.dpop-sect-top .dpop-cont-text { max-width: 28rem; padding-left: 0; padding-right: 0; }
		.dpop-cta { font-size: 2.8rem; padding: 2.4rem; }
		.dpop-cta-s { font-size: 2rem; padding: 1rem 1.8rem; }
		
		/* Text */
		.dpop-title-l { font-size: 4.8rem; }
		.dpop-title-l + div { font-size: 1.8rem; }
		.dpop-cont-video .dpop-title { min-height: 7rem; }
	}	