.container {
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
}

.dashboard--redemption {
  margin: 0;
  padding: 30px 0;
  background-color: #303030;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.dashboard--redemption .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 50px;
  row-gap: 20px;
}

@media (min-width: 576px) {
  .dashboard--redemption .container {
    flex-wrap: nowrap;
  }
}

.dashboard--tabs {
  width: 100%;
  margin-top: -85px;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 20px;
  background: linear-gradient(90deg, #000000 0%, #212121 100%);
  border-radius: 20px;
  box-shadow: 0 4px 12px -4px rgba(22, 34, 51, 0.12), 0 16px 32px rgba(22, 34, 51, 0.16);
}

@media (min-width: 576px) {
  .dashboard--tabs {
    width: auto;
    position: sticky;
    top: 25px;
  }
}

.dashboard--tabs li {
  width: 90%;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  transition: background-color 300ms ease-in;
}

.dashboard--tabs li.active {
  font-weight: bold;
  background-color: rgba(48, 48, 48, 0.5);
  border-radius: 10px 0 0 10px;
}

.dashboard--tabs a {
  text-decoration: none;
  color: #fff;
}

.dashboard--tabs li a:hover,
.dashboard--tabs li.active a {
  color: #ff216a;
}

.dashboard--content {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.dashboard--content--analysis,
.dashboard--redemption {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 25px;
  row-gap: 25px;
}

@media (min-width: 576px) {
  .dashboard--content--analysis,
  .dashboard--redemption {
    justify-content: flex-start;
  }
}

.dashboard--content--heading {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.border--left--diamond {
  width: 75px;
  height: 3px;
  position: relative;
  margin-right: 20px;
  background-color: #ff2169;
}

.border--left--diamond::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  background-color: #ff2169;
  transform: rotate(45deg) translateY(-50%);
}

.dashboard--content--analysis--card {
  overflow: hidden;
  width: 316px;
  height: 235px;
  display: flex;
  background: rgba(255, 42, 111, 0.75);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

.dashboard--content--analysis--card::before {
  opacity: 0.1;
  z-index: -1;
  content: "";
  display: inline-flex;
  align-items: center;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("/assets/img/cup.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.dashboard--content--analysis--card.redeemed--card::before {
  background-image: url("/assets/img/arrows.svg");
}

.dashboard--content--analysis--card.days--card::before {
  background-image: url("/assets/img/calendar.svg");
}

.dashboard--content--analysis--card img {
  object-fit: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  width: 50px;
  height: 50px;
  padding: 4px;
  outline: 5px solid white;
  border-radius: 50%;
}

.dashboard--content--analysis--card h2 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.dashboard--content--analysis--card p {
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
}

.dashboard--content--analysis--card p span {
  display: block;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  color: #ff93B6;
}

.dashboard--redemption--card {
  position: relative;
  width: 321px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 20px;
  padding: 15px;
  font-size: 12px;
  background: #e6e6e6;
  border-radius: 16px;
  box-shadow: 0 4px 12px -4px rgba(22, 34, 51, 0.12), 0 16px 32px rgba(22, 34, 51, 0.16);
}

.dashboard--redemption--cards--card--content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 15px;
}

.card--content--cups-image {
  position: relative;
  width: 55px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 33, 105, 0.1) 0%, rgba(255, 0, 102, 0.1) 100%);
  border-radius: 50%;
}

.card--content--cups-image img {
  opacity: 0.35;
}

.card--content--points {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 15%;
  font-size: 17px;
  font-weight: 700;
  color: #ff2169;
}

.card--content--logo {
  //height: 36px;
}

.card--content-date {
  display: block;
  font-size: 14px;
  color: rgba(33, 33, 33, 0.5);
}

.dashboard--redemption--card--copy {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  display: block;
  width: 20px;
  height: 25px;
  border: 2px solid rgba(255, 33, 106, 0.5);
  border-radius: 4px;
  transform: translate(1px, 2px);
}

.dashboard--redemption--card--copy::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
  border: 2px solid rgba(255, 33, 106, 0.75);
  border-radius: 4px;
  transform: translate(-5px, -5px);
}

.dashboard--redemption--card--number {
  user-select: none;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 128px;
  line-height: 95px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.1);
}
