<mat-spinner class="spinner" [diameter]="50" *ngIf="spinnerService.visibility | async"></mat-spinner>
<mat-toolbar color="secondary">
    <div id="main_logo">
        <svg viewBox="0 0 180 60">
            <use xlink:href="/assets/img/app_assets.svg#logo"></use>
        </svg>
    </div>

    <span fxFlex></span>
    <div *ngIf="isCMS && isLogin && !isProjectWizard && !isCampaignsWizard && !isAccountPage" fxShow="true" fxHide.lt-sm="true" fxLayout="row">
        <div class="page-nav" *ngFor="let item of navSections | keyvalue">
            <a mat-button href="javascript:void(0)" (click)="scrollToSection(item.key)">{{ item.value }}</a>
        </div>
    </div>
    <div *ngIf="isCMS && isLogin && excludeCustomNav && !isTrial" fxShow="true" fxHide.lt-sm="true" fxLayout="row">
        <div class="page-nav">
            <a mat-button href="#" routerLink="/cms/dashboard" routerLinkActive="active">Dashboard</a>
        </div>
    </div>

    <div *ngIf="!isCMS && isLogin && isEligible" fxShow="true" fxHide.lt-sm="true" fxLayout="row">
        <div class="page-nav" *ngFor="let item of navSections | keyvalue">
            <a mat-button href="javascript:void(0)" (click)="scrollToSection(item.key)">{{ item.value }}</a>
        </div>
    </div>

    <div fxLayoutAlign="end end">
        <a mat-button *ngIf="!isLogin" (click)="openLoginDialog()">Login</a>
        <button *ngIf="isLogin" mat-button [matMenuTriggerFor]="menu" class="user-dropdown" fxLayoutAlign="end">{{ currentUser ? currentUser.email : '' }}</button>
        <mat-menu #menu="matMenu">
          <div *ngIf="currentUser" class="user-id">Account ID: {{ currentUser ? currentUser._id : '' }}</div>
          <div *ngIf="currentUser">
            <a mat-menu-item href="#" routerLink="/dashboard" routerLinkActive="active">Account Dashboard</a>
          </div>
          <button mat-menu-item *ngIf="isLogin" (click)="openLogout()">Logout</button>
        </mat-menu>
        <a mat-button *ngIf="!isLogin" (click)="openSignup()">Sign Up</a>
        <!-- <a mat-button *ngIf="isLogin && isCMS && !isTrial" routerLink="/account" (click)="account()"><mat-icon>account_circle</mat-icon></a> -->
    </div>

    <div *ngIf="isLogin && isEligible && !isTrial" fxShow="true" fxHide.gt-xs="true">
        <div class="hamburger-menu" (click)="sidenav.toggle()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</mat-toolbar>

<mat-sidenav-container style="overflow: visible" fxFlexFill class="mobile-container">
    <mat-sidenav #sidenav fxLayout="column">
        <div fxLayout="column">
            <span fxLayoutAlign="end end" class="close-menu" (click)="sidenav.toggle()" href="javascript:void(0)"
                mat-button> </span>
            <div *ngIf="isCMS && isLogin && !isProjectWizard && !isCampaignsWizard && !isAccountPage" fxShow="true">
                <div class="page-nav" *ngFor="let item of navSections | keyvalue">
                    <a mat-button href="javascript:void(0)" (click)="scrollToSection(item.key)">{{ item.value }}</a>
                </div>
            </div>

            <div *ngIf="isCMS && isLogin && excludeCustomNav" fxShow="true">
                <div class="page-nav">
                    <a mat-button href="#" routerLink="/cms/dashboard" routerLinkActive="active">Dashbaord</a>
                </div>
            </div>

            <div *ngIf="!isCMS && isLogin && isEligible" fxShow="true">
                <div class="page-nav" *ngFor="let item of navSections | keyvalue">
                    <a mat-button href="javascript:void(0)" (click)="scrollToSection(item.key)">{{ item.value }}</a>
                </div>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content style="overflow: visible" autosize fxFlexFill>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
